.storybook-divider-override {
  border-color: rgb(255, 0, 0);
  border-inline-start-width: 4px;
}

.card-override { padding: 28px; border-color: var(--learnui-color-accent); }
.title-override { font-size: 1.5rem; }
